@import "tailwindcss";

@theme {
    --color-neutral-700: #1F1F1F;
    --color-neutral-600: #4B4B4B;
    --color-neutral-500: #8E8E8E;
    --color-neutral-400: #CACACA;
    --color-neutral-300: #E1E1E1;
    --color-neutral-200: #EEEEEE;
    --color-neutral-100: #F5F5F5;
    --color-neutral-50: #FAFAFA;

    --color-primary-100: #F7FAFC;
    --color-primary-200: #F2F8FF;
    --color-primary-300: #E6F4FF;
    --color-primary-400: #CFEAFF;
    --color-primary-500: #8ED1FF;
    --color-primary-600: #5AAEFF;
    --color-primary-700: #2F6BFF;
    --color-primary-50: #003F9E;

    --color-danger-700: #EC2D30;
    --color-danger-600: #F64C4C;
    --color-danger-500: #EB6F70;
    --color-danger-400: #F49898;
    --color-danger-300: #FFCCD2;
    --color-danger-200: #FFEBEE;
    --color-danger-100: #FEF2F2;
    --color-danger-50: #FFFBFB;

    --color-warning-700: #FE9B0E;
    --color-warning-600: #FFAD0D;
    --color-warning-500: #FFC62B;
    --color-warning-400: #FFDD82;
    --color-warning-300: #FFEAB3;
    --color-warning-200: #FFF7E1;
    --color-warning-100: #FFF9EE;
    --color-warning-50: #FFFDFA;

    --color-info-700: #3A70E2;
    --color-info-600: #3B82F6;
    --color-info-500: #4BA1FF;
    --color-info-400: #93C8FF;
    --color-info-300: #BDDDFF;
    --color-info-200: #E4F2FF;
    --color-info-100: #F1F8FF;
    --color-info-50: #F8FCFF;

    --color-success-700: #0C9D61;
    --color-success-600: #47B881;
    --color-success-500: #6BC497;
    --color-success-400: #97D4B4;
    --color-success-300: #C0E5D1;
    --color-success-200: #E5F5EC;
    --color-success-100: #F2FAF6;
    --color-success-50: #FBFEFC;

    --color-black: #000000;
    --color-white: #FFFFFF;

    --text-4xl-h1: 2.25rem;
    --text-3xl-h2: 1.875rem;
    --text-2xl-h3: 1.5rem;
    --text-xl-title: 1.25rem;
    --text-base-body: 1rem;
    --text-lg-subtitle: 1.125rem;

    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

    --font-sf-pro: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}